* {
    h2 {
        margin-top: 0px;
    }

    .entry_well {
        background: #bbb;
        color: #000;
    }

    .entry_name {
        font-weight: bold;
    }

    .entry_timestamp {
        font-style: italic;
    }

    .entry_message {
        font-style: normal;
    }
}